<h2> Start a new Quiz! </h2>

<%= form_with url: '/quizzes/new', method: :post, local: true do |form| %>
<h4> Choose a Region! </h4>
<%= form.radio_button :region, "americas" %>
<%= form.label :region_americas, "Americas" %><br>
<%= form.radio_button :region, "europe" %>
<%= form.label :region_europe, "Europe"  %><br>
<%= form.radio_button :region, "asia" %>
<%= form.label :region_asia, "Asia"  %><br>
<%= form.radio_button :region, "africa" %>
<%= form.label :region_africa, "Africa"  %><br>
<%= form.radio_button :region, "oceania" %>
<%= form.label :region_oceania, "Oceania"  %><br>
<br>
<h4> Choose a Level </h4>
<p> Easy, Hard and Random will have 15 questions and Full will have every country in the region! </p>
<%= form.radio_button :level, "easy" %>
<%= form.label :level_easy, "Easy"  %><br>
<%= form.radio_button :level, "hard" %>
<%= form.label :level_hard, "Hard"  %><br>
<%= form.radio_button :level, "random" %>
<%= form.label :level_random, "Random"  %><br>
<%= form.radio_button :level, "full" %>
<%= form.label :level_all, "Full"  %><br><br>
<%= form.submit "Start"%>
<% end %>
